.page-header {
  margin: 0;
  padding-bottom: 10px;
}

.page-header > p {
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 15px;
}
.row {
  margin-bottom: 5px;
}

[class*="col-"] {
  padding-top: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.message-and-users-content {
  height:250px;
  overflow: auto;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-radius: 0px 0px 4px 4px;
  margin-top: -1px;
}

.bulletless-list {
  padding-left: 10px;
  list-style-type: none;
}

.current-user-message-item {
  background-color: #5bc0de;
}

body.no-location .blackout{
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  position:absolute; top:0; left:0; z-index:98;
  display: block;
}
body.no-location .connection-message{
  width: 60%;
  background:rgba(255,255,255,1);
  position:absolute; top:25%; left:20%; z-index:99;
  text-align: center;
  padding: 10px;
  display: block;
}
body.no-location {
  overflow: hidden;
}
body.location .blackout {
  display: none;
}
body.location .connection-message {
  display: none;
}
body.location {
  overflow: auto;
}

#about-container {
  margin: 0 10px;
}